*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(59, 58, 58);
}


/*----------------------------NAVBAR DECORATION-----------------------------*/

nav{
    display: flex;
    justify-content: space-between;
    height: 100px;

}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0;
    font-size:1.2rem;
}

nav ul li a:hover{
    color: black;
}

nav ul li a{
    text-decoration: none;
    transition: all 0.5s;
}

nav h2{
    margin: 0 0 0 20px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fb933e;
}

nav div{
    display: flex;
} 

nav div ul li{
    font-size: 1.5rem;
  
}

.btn{
    border: 1px solid orange;
    height: 50px;
    padding: 15px;
    margin-top: 24px;
    border-radius: 35px;
    cursor: pointer;
    background-color: #fb933e;
    color: #fff;
    transition: all 0.75s;
}

.btn:hover{
    background-color: #fdba74;
}

/*----------------------------BODY DECORATION-----------------------------*/

.art-img{
    background: url(https://picsum.photos/seed/picsum/3000/600) no-repeat;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.text1{
    font-size: 4rem;
    line-height: 4rem;
}
.text2{
    font-size: 1.5rem;
}

.btn-d{
    font-size: 1.5rem;
    width: 200px;
    padding: 0;
    height: 70px;
}
.art{
    width: 15%;
    text-align: center;
}
.heading{
    font-size: 1.5rem;
    font-weight: bold;
   
}
.content{
    font-size: 1.2rem;
}

.kodluyoruz-btn{
    border: 1px solid rgba(94, 94, 250, 0.76);
    height: 50px;
    padding: 15px;
    margin-top: 24px;
    border-radius: 35px;
    cursor: pointer;
    width: 100px;
    color: #fff;
    transition: all 0.75s;
    background: linear-gradient(to right, rgba(94, 94, 250, 0.76),rgba(250, 75, 183, 0.795));
}

.kodluyoruz-btn:hover{
    text-decoration: underline;
}
.kodluyoruz-2{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.art img{
    width: 300px;
    height: 200px;
}
.art{
    margin: 0 40px 0 0;
}
    
.bg-color{
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, rgba(94, 94, 250, 0.76),rgba(250, 75, 183, 0.795));
}
.btn-underline{
    background-color: #ff7300;
}
.btn-underline:hover{
    
    background-color: #ff7300;
    text-decoration: underline;
}


.article3{
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    line-height: 3.5rem;
}

.article4{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.article5{
    width: 20%;
    height: 150px;
    
    padding: 20px;
    
}
.artBorder{
    border-left: 1px solid rgb(73, 73, 73);
    border-right: 1px solid rgb(73, 73, 73);
}


.article5 h1{
    font-size: 3rem;
}
.article5 p{
    margin-top: 10px;
    font-size: 1.5rem;
} 

footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: #fafafa;
}

footer div ul li{
    list-style: none;
    line-height: 35px;
}

footer div h4{
    line-height: 35px;
    font-size: 1.5rem;
    color: rgb(59, 58, 58);
}

footer h1{
    font-size: 2.5rem;
    
 
    
    color: #fb933e;
}

